@font-face {
  font-family 'Kollektif'
  src URL('/fonts/kollektif/kollektif-bold.ttf') format('truetype')
}

h1, h2, h3, h4, h5, h6
  font-family 'Kollektif'

body
  font-family 'Libre Baskerville', serif

@media (max-width: 600px)
  html, body
    font-size 13px